.browser-window {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute; /* or fixed, depending on your needs */
  background-color: #fff;
  overflow: hidden;
}

.title-bar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-title {
  font-weight: bold;
}




.card-window {
  display: grid;
  height: 100%;
  width: 100%;
}

// webcontainer css
.webcontainer-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}

.header {
  padding: 1rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.content {
  flex: 1;
  height: 100%;
  width: 100%;
}

.iframe-pane {
  flex: 2;
  position: relative;
}

.log-pane {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #333;
  color: #fff;
  font-family: monospace;
}

.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  color: #666;
}

.log-output {
  white-space: pre-wrap;
}

iframe {
  border: none;
}