.browser-window {
  // border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  /* or fixed, depending on your needs */
  // background-color: #fff;
  overflow: hidden;
}

.browser-window-card {
  flex-direction: column;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  height: inherit !important;
}

.header-container {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.title-bar {
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
}

.window-url {
  font-weight: normal;
  display: flex;
  width: 50%;
}

// :host ::ng-deep {
//   nb-card {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//   }

//   nb-card-body {
//     flex: 1; /* This makes the body take up all remaining space */
//     height: 100%;
//   }
// }
// nb-card-body {
//   height: 100%;
//   overflow-y: auto;
// }
// webcontainer css
.webcontainer-container {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  font-family: sans-serif;
}

.header {
  padding: 1rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.content {
  flex: 1;
  height: 100%;
  width: 100%;
}

.iframe-pane {
  flex: 2;
  position: relative;
  height: 100%;
  width: 100%;
}

.log-pane {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #333;
  color: #fff;
  font-family: monospace;
}

.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  color: #666;
}

.log-output {
  white-space: pre-wrap;
}

iframe {
  border: none;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.progress-gif {
  justify-content: center;
  align-items: center;
}

.progress-text {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

.card-window{
  height: 100%;
}