<div class="card-window">
  <nb-card class="browser-window-card">
    <nb-card-header class="header-container">
      <div class="title-bar flex items-center">
        <div class="flex">
          <button nbButton ghost (click)="navigateToBack()"><nb-icon icon="arrow-ios-back-outline"></nb-icon></button>
          <button nbButton ghost (click)="navigateToForward()"><nb-icon
              icon="arrow-ios-forward-outline"></nb-icon></button>
        </div>
        <input nbInput type="text" placeholder="https://" fullWidth [(ngModel)]="appUrl" />
        <button nbButton ghost (click)="navigateToUrl()" (keyup.enter)="navigateToUrl()"><nb-icon
            icon="corner-down-left-outline"></nb-icon></button>
        <button nbButton ghost (click)="openUrl()"><nb-icon icon="external-link-outline"></nb-icon></button>
      </div>

    </nb-card-header>
    <nb-card-body>
      <!-- Content to be displayed within the window -->
      <!-- <ng-content></ng-content> -->
      <div class="content">
        <div class="iframe-pane">
          @if (iframeUrl()) {
          <iframe [src]="iframeUrl()" width="100%" height="100%" #webcontainerIframe></iframe>
          }
          @if (progressGifUrl() && progressGifUrl() !== '') {
          <div class="progress-container">
            <div class="progress-gif">
              <img [src]="progressGifUrl()" />
            </div>
            @if (progressInfo() && progressInfo() !== '') {
            <div class="progress-text">
              <span class="text-hint">{{progressInfo()}}</span>
            </div>
            }
          </div>
          }
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
