<div class="card-window">
    <nb-card>
        <nb-card-header>
            <div class="title-bar">
                <div class="">
                    <button nbButton ghost><nb-icon icon="arrow-ios-back-outline"></nb-icon></button>
                    <button nbButton ghost><nb-icon icon="arrow-ios-forward-outline"></nb-icon></button>
                </div>
                <div class="window-url">
                    <input nbInput type="text" placeholder="http://" fullWidth [(ngModel)]="appUrl" />
                    <button nbButton ghost (click)="navigateToUrl()"><nb-icon
                            icon="corner-down-left-outline"></nb-icon></button>
                </div>
                <div class="">
                    <button nbButton ghost><nb-icon icon="minus-outline"></nb-icon></button>
                    <button nbButton ghost><nb-icon icon="square-outline"></nb-icon></button>
                    <button nbButton ghost status="danger"><nb-icon icon="close-square-outline"></nb-icon></button>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <!-- Content to be displayed within the window -->
            <!-- <ng-content></ng-content> -->
            <div class="content">
                <div class="iframe-pane">
                    <iframe *ngIf="iframeUrl" [src]="iframeUrl" width="100%" height="100%" #webcontainerIframe></iframe>
                    <div class="progress-container">
                        <div class="progress-gif" *ngIf="progressGifUrl && progressGifUrl !== ''">
                            <img [src]="progressGifUrl" />
                        </div>
                        <div class="progress-text" *ngIf="progressInfo && progressInfo !== ''">
                            <span class="text-hint">{{progressInfo}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>