.browser-window {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute; /* or fixed, depending on your needs */
  background-color: #fff;
  overflow: hidden;
}

.header-container {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-title {
  font-weight: bold;
}


.content {
  padding: 10px;
}

.card-window {
  display: grid;
  height: 100%;
  width: 100%;
}

.log-pane {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  color: #fff;
  font-family: monospace;
  height: inherit;
}

.log-output {
  white-space: pre-wrap;
}