@use '../../../themes/styles/themes' as *;

button[nbTreeGridRowToggle] {
  background: transparent;
  border: none;
  padding: 0;
}

.search-label {
  display: block;
}

.search-input {
  margin-bottom: 1rem;
}

.nb-column-name {
  width: 100%;
}

@media screen and (min-width: 400px) {

  .nb-column-name,
  .nb-column-size {
    width: 50%;
  }
}

@media screen and (min-width: 500px) {

  .nb-column-name,
  .nb-column-size,
  .nb-column-kind {
    width: 33.333%;
  }
}

@media screen and (min-width: 600px) {
  .nb-column-name {
    width: 31%;
  }

  .nb-column-size,
  .nb-column-kind,
  .nb-column-items {
    width: 23%;
  }
}


@include nb-install-component {
  .nb-tree-grid-cell {
    height: 1rem;
    padding-left: 0rem;
  }
}

::ng-deep {
  .nb-tree-grid-cell {
    border-width: 0 !important;
    border-style: none !important;
  }

  .directory-menu-card,
  .directory-menu-card-body {
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid nb-theme(color-primary-600) !important;
    border-radius: nb-theme(card-border-radius);
  }

  .directory-item {
    padding: 0px !important;
    margin: 0px !important;
    border-radius: unset !important;
    max-width: unset !important;
    font-weight: unset !important;
    line-height: unset !important;
    background-color: unset !important;
    border: unset !important;
    caret-color: transparent;
    cursor: default;
  }

  .input-heighlighter {
    border: 1px solid nb-theme(color-primary-600) !important;
    width: 100% !important;
    caret-color: auto !important;
    cursor: default;
  }
}