@use '../../../themes/styles/themes' as *;

@include nb-install-component {

  .window {
    position: absolute;
    top: 8.6%;
    left: 13.7%;
    width: 41%;
    height: 83.2%;
    background-color: nb-theme(background-basic-color-1);
    border: 1px dashed nb-theme(color-basic-700);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }

  .window.minimized {
    position: static !important;
    display: inline-block;
    width: 280px !important;
    min-width: 280px !important;
    padding: 0 10px 0 10px;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    flex-shrink: 0;
  }

  .window.maximized {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    border-radius: 0;
  }

  .window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: nb-theme(background-basic-color-1);
    cursor: move;
    padding: 10px 10px !important;
  }

  .window-controls button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 5px;
  }

  .window-content {
    flex-grow: 1;
    padding: 10px;
    height: 100% !important;
    width: 100% !important;
    overflow: auto;
  }

  .window.minimized .window-content {
    display: none !important;

  }

  .window.minimized nb-card-header {
    padding: 0px !important;
  }

  .window.minimized nb-card-body {
    padding: 0px !important;
    display: none !important;
  }
}