@use '../../themes/styles/themes' as *;

.chat-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: unset;
}

::ng-deep nb-chat .header {
  display: none !important;
}

::ng-deep nb-chat {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin-bottom: 0px !important;
  overflow-y: hidden !important;
}

nb-card {
  height: inherit !important;
  width: 100% !important;
  margin-bottom: 0px !important;
}