.logo-text {
  font-family: 'Arial Black', sans-serif;
  /* Choose a suitable font */
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* Optional text shadow */
  /* Add other styling for logo appearance */
}

// .app-content {
//   // margin-top: 60px; /* Adjust based on your header's height */
//   // margin-bottom: 60px; /* Adjust based on your footer's height */
//   overflow-y: auto; /* Enable scrolling for content */
//   height: calc(100vh - 120px); /* Adjust based on header/footer height */
// }

// nb-layout-column {
//   gap: 30px;
//   display: grid;
// }

// .dashboard-area {
//   height: 0px;
// }

nb-layout {
  // height: 100vh;
  /* Viewport height */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  /* Stack layout vertically */
  // height: 100vh;
  position: relative;
  /* Make all windows relative to this container now */
}


.footer {
  min-height: 40px;
  padding: 0px;
}

::ng-deep nb-layout-footer nav {
  display: flex !important;
  justify-content: flex-end !important;
  /* Pushes items to the right */
  flex-direction: row-reverse !important;
  /* Stacks new items from the right */
  height: 65px !important;
  padding: 0% !important;

}

.stacked-window {
  // position: fixed;
  // bottom: calc(var(--footer-height) + 5px);
  right: 10px;
  display: flex;
  flex-direction: row;
  // align-items: center;
  gap: 10px;
  // z-index: 1000; /* Ensure it stays above other content */
  overflow-x: auto;
  /* Adds horizontal scrollbar when content overflows */
  overflow-y: hidden;
  /* Hides vertical scrollbar */
  white-space: nowrap;
  /* Prevents windows from wrapping to a new line */
}

.explorer-menu-button {
  display: flex;
  justify-content: flex-end;
}

.explorer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-title {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.window-controls {
  display: flex;
  gap: 5px;
}

.workbench-container {
  height: calc(100vh - 5rem - 4rem);
  padding: 0px 0px 0px 0px !important;
  margin: 0px !important;
  width: 100%;
}
