.logo-text {
  font-family: 'Arial Black', sans-serif; /* Choose a suitable font */
  font-size: 1.2rem;
  font-weight: bold;

  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Optional text shadow */
  /* Add other styling for logo appearance */
}

nb-layout-column{
  gap: 30px;
  display: grid;
}