<nb-layout>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-sidebar state="compacted" tag="primarySidebar">
    <nb-menu [items]="SideItems" tag="sideMenu"></nb-menu>
  </nb-sidebar>

  <nb-sidebar tag="dynamicSidebar" *ngIf="isExplorerReady">
    <nb-sidebar-header>
      <strong>File Explorer</strong>
    </nb-sidebar-header>
    <app-directory-list (openFile)="onFileClick($event)" ngSkipHydration />

  </nb-sidebar>

  <nb-layout-column class="left-column">
    <div class="right-column-row top-row">
      <app-chat-showcase />
    </div>
    <div class="right-column-row bottom-row">
      <app-console-window />
    </div>
    <div class="dashboard-area">
      @for (window of windowService.getWindows()(); track window.id) {
      <app-window [window]="window"></app-window>
      }
    </div>

  </nb-layout-column>

  <nb-layout-column class="right-column">
    <app-browser-window class="browser-window" />
  </nb-layout-column>

  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>