@use 'themes/styles/themes' as *;
@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();

  .scrollable-container,
  /* Generic Nebular scroll class */
  nb-card-body,
  /* Nebular card bodies */
  .nb-global-scroll,
  /* Sometimes used for global scroll handling */
  * {
    /* Fallback for anything else */

    /* Firefox styling (thin and themed colors) */
    scrollbar-width: thin;
    scrollbar-color: nb-theme(layout-scrollbar-color) nb-theme(layout-scrollbar-background-color);

    /* Webkit styling (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
      width: nb-theme(layout-scrollbar-width);
      /* Default is usually thin (5px) */
      height: nb-theme(layout-scrollbar-width);
    }

    &::-webkit-scrollbar-thumb {
      background: nb-theme(layout-scrollbar-color);
      border-radius: nb-theme(layout-scrollbar-width);
    }

    &::-webkit-scrollbar-track {
      background: nb-theme(layout-scrollbar-background-color);
    }
  }
}

.custom-code-editor {
  // height: 100vh;
  width: 41vw;
}

.monaco-code-editor {
  // .editor-container {
  height: calc(100vh - 100px);
  // }
}

.resizable-window {
  // Standard styles for the resizable window
  position: relative;
  // You can add other properties like max-width or initial dimensions
  // For example, to set an initial size:
  // width: 800px;
  // height: 600px;
}

/* Style for the resize handle */
.resizable-window .resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;
  background: #ccc;
  cursor: nwse-resize;
  z-index: 100;
}

.monaco-editor-container {
  height: 500px !important;
  width: 40vw;
}