@if (droppedFiles.length) {
  <div class="dropped-files">
    @for (file of droppedFiles; track file) {
      @if (file.urlStyle) {
        <div [style.background-image]="file.urlStyle">
          <span class="remove" (click)="removeFile(file)">&times;</span>
        </div>
      }
      @if (!file.urlStyle) {
        <div>
          <nb-icon icon="file-text-outline" pack="nebular-essentials"></nb-icon>
          <span class="remove" (click)="removeFile(file)">&times;</span>
        </div>
      }
    }
  </div>
}
<div class="message-row">
  <input nbInput fullWidth [status]="getInputStatus()" (focus)="inputFocus = true" (blur)="inputFocus = false"
    (mouseenter)="inputHover = true" (mouseleave)="inputHover = false" [(ngModel)]="message"
    (ngModelChange)="onModelChange($event)" [class.with-button]="showButton" type="textarea" maxlength="5000"
    placeholder="{{ fileOver ? dropFilePlaceholder : messagePlaceholder }}" (keyup.enter)="sendMessage()" />
    <button nbButton ghost class="floating-attach-btn" (click)="fileInput.click()">
      <nb-icon icon="attach-2-outline"></nb-icon>
    </button>
    <input #fileInput type="file" style="display: none" (change)="handleFileUpload($event)" multiple accept="*">
    @if (showButton) {
      <button nbButton [status]="getButtonStatus()" [class.with-icon]="!buttonTitle"
        (click)="sendMessage()" class="send-button">
        @if (!buttonTitle) {
          <nb-icon [icon]="buttonIcon" pack="nebular-essentials"></nb-icon>
        } @else {
          {{ buttonTitle }}
        }
      </button>
    }
  </div>
